config azureiotd 'main'
    option enable '1'
    option host 'your-hub.azure-devices.net'
    option device_id 'myDevice'
    option auth 'x509'
    option sas_key ''
    option sas_ttl '3600'
    option x509_cert '/etc/ssl/certs/device.crt'
    option x509_key  '/etc/ssl/private/device.key'
    option x509_key_pass ''
    option sni_host ''
    option ca_file '/etc/ssl/certs/ca-certificates.crt'
    option keepalive '60'
